
@{
    ViewBag.Title = "TeacherForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" id="divTeacherInfo">
    <div class="col-md-1"></div>
    <div class="col-md-10 card p-3">
        <h4 class="card-title" id="titleTeacherForm">Staff Information Form</h4>
        <hr />
        <form id="formTeacherInfo">
            <h5>Personal Information</h5>
            <div class="form-row">
                <input type="hidden" name="TeacherId" />
                <input type="hidden" name="CompanyId" value="@Session["CompanyId"]" />
                <div class="col-md-6">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:130px;">FirstName</label>
                        </div>
                        <input type="text" name="FirstName" class="form-control" required />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:130px;">LastName</label>
                        </div>
                        <input type="text" name="LastName" class="form-control" required />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:130px;">Designation</label>
                        </div>
                        <select class="form-control" name="Designation" id="designation"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:130px;">Department</label>
                        </div>
                        <select class="form-control" name="Department" id="department"></select>

                    </div>
                    @*<div class="input-group mt-2">
                    <div class="input-group-prepend">
                        <label style="width:130px;"></label>
                    </div>
                    <label id="error_email" style="color: red;"></label>
                </div>*@

                </div>

                <div class="col-md-6">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:130px;">Faculty</label>
                        </div>
                        <select class="form-control faculty" name="Faculty" id="faculty"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:130px;">Gender</label>
                        </div>
                        <select class="form-control" name="Gender" id="selectGender">
                            <option value="" disabled></option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:130px;">Email Id</label>
                        </div>
                        <input type="text" name="Email" class="form-control" id="email" />
                    </div>
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label style="width:130px;"></label>
                        </div>
                        <label id="error_email" style="color: red;"></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:130px;">DateOfBirth(BS)</label>
                        </div>
                        <input type="text" id="dateinbs" name="DateOfBirth" paceholder="साल-महिना-गते" class="form-control nepali-calendar" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:130px;">Batch</label>
                        </div>
                        <select class="form-control batch" name="Batch" id="selectBatch"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:130px;">Citizenship</label>
                        </div>
                        <input type="text" name="Citizenship" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:130px;">Joining Date</label>
                        </div>
                        <input type="text" id="joiningDate" name="JoiningDate" paceholder="साल-महिना-गते" class="form-control nepali-calendar" />
                    </div>

                </div>
                <div class="col-sm-6"></div>
            </div><br />
            <div id="education">

                <h5>Education</h5>
                <div id="degreedetails">
                    <div class="form-row">
                        <input type="hidden" name="Educations[0][EducationId]" />
                        <div class="col-md-6">
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:130px;">Degree</label>
                                </div>
                                <input type="text" name="Educations[0][Degree]" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:130px;">Institution</label>
                                </div>
                                <input type="text" name="Educations[0][Institution]" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:130px;">Total Marks</label>
                                </div>
                                <input type="text" name="Educations[0][TotalMarks]" class="form-control" onkeypress="return isNumberKey(event)" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:130px;">Division</label>
                                </div>
                                <input type="text" name="Educations[0][Division]" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <input type="button" style="border-radius:10px;margin-top:5px;margin-right:5px;" id="btnAddRow" data-rows="1" value="+ Add more" />
                <input type="button" style="border-radius:10px;margin-top:5px;" id="btnRemoveRow" value="- Remove one" />
            </div>
            <br />

            <div id="experience">
                <h5>Previous Experience</h5>
                <div id="experiencedetails">
                    <div class="form-row">
                        <input type="hidden" name="Experiences[0][ExperienceId]" />
                        <div class="col-md-6">
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:130px;">Organisation</label>
                                </div>
                                <input type="text" name="Experiences[0][Organisation]" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:130px;">Post</label>
                                </div>
                                <input type="text" name="Experiences[0][Post]" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:130px;">Date From</label>
                                </div>
                                <input type="text" id="dateFrom" name="Experiences[0][DateFrom]" placeholder="साल-महिना-गते" class="form-control nepali-calendar" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:130px;">Date To</label>
                                </div>
                                <input type="text" id="dateTo" name="Experiences[0][DateTo]" placeholder="साल-महिना-गते" class="form-control nepali-calendar" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <input type="button" style="border-radius:10px;margin-top:5px;margin-right:5px;" id="btnAddRowExp" data-rows="1" value="+ Add more" />
                <input type="button" style="border-radius:10px;margin-top:5px;" id="btnRemoveRowExp" value="- Remove one" />
            </div><br />
            <h5>Documents</h5>

            <div id="docList">

            </div>

            <div class="form-row">
                <div class="col-md-12">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:150px;margin-right:10px;">Upload Documents:</label>
                        </div>
                        <input type="file" name="Document[]" id="multiFiles" style="margin-top:5px;" multiple />
                    </div>
                </div>
            </div><br />
            <h5>Current Address</h5>
            <div class="form-row">
                <input type="hidden" name="CurrentAddress[AddressId]" />
                <div class="col-md-4">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:100px;">House No.</label>
                        </div>
                        <input type="text" class="form-control" name="CurrentAddress[HouseNo]" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:100px;">Street</label>
                        </div>
                        <input type="text" class="form-control" name="CurrentAddress[Street]" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:100px;">Municipality</label>
                        </div>
                        <input type="text" class="form-control" name="CurrentAddress[Municipality]" />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:130px;">Country</label>
                        </div>
                        <select class="form-control country" name="CurrentAddress[Country]" id="selectCountry"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:130px;">State</label>
                        </div>
                        <select class="form-control state" name="CurrentAddress[State]" id="selectCurrentState"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:130px;">MobileNo</label>
                        </div>
                        <input type="text" class="form-control number" name="CurrentAddress[MobileNo]" onkeypress="return isNumberKey(event)" />
                    </div>
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label style="width:130px;"></label>
                        </div>
                        <label class="message" style="color: red;"></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:130px;">PhoneNo</label>
                        </div>
                        <input type="text" class="form-control phone" name="CurrentAddress[PhoneNo]" onkeypress="return isNumberKey(event)" />
                    </div>
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label style="width:130px;"></label>
                        </div>
                        <label class="error_phone" style="color: red;"></label>
                    </div>
                </div>
            </div><br />

            <div class="form-inline" style="color:green;"><input type='checkbox' class='checkbox' id="sameAddress" value='true' />&nbsp;&nbsp;Permanent address same as Current address</div><br />

            <h5>Permanent Address</h5>
            <div class="form-row">
                <input type="hidden" name="PermanentAddress[AddressId]" />
                <div class="col-md-4">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:100px;">House No.</label>
                        </div>
                        <input type="text" class="form-control" name="PermanentAddress[HouseNo]" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:100px;">Street</label>
                        </div>
                        <input type="text" class="form-control" name="PermanentAddress[Street]" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:100px;">Municipality</label>
                        </div>
                        <input type="text" class="form-control" name="PermanentAddress[Municipality]" />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:130px;">Country</label>
                        </div>
                        <select class="form-control country" name="PermanentAddress[Country]" id="selectCountry"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:130px;">State</label>
                        </div>
                        <select class="form-control state" name="PermanentAddress[State]" id="selectCurrentState"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:130px;">MobileNo</label>
                        </div>
                        <input type="text" class="form-control number" name="PermanentAddress[MobileNo]" onkeypress="return isNumberKey(event)" />
                    </div>
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label style="width:130px;"></label>
                        </div>
                        <label class="message" style="color: red;"></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:130px;">PhoneNo</label>
                        </div>
                        <input type="text" class="form-control phone" name="PermanentAddress[PhoneNo]" onkeypress="return isNumberKey(event)" />
                    </div>
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label style="width:130px;"></label>
                        </div>
                        <label class="error_phone" style="color: red;"></label>
                    </div>
                </div>
            </div><br />
           
            <h5>Teacher Status</h5>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:130px;">Status</label>
                        </div>
                        <select class="form-control" name="Status">
                            <option value="Active">Active</option>
                            <option value="NotActive">Not-Active</option>
                        </select>
                    </div>

                </div>
               
              
            </div>
            <br />
        </form>

        <div class="form-group">
            <div class="col-sm-12 text-center">
                <input type="submit" value="Submit" class="btn btn-default" id="btnsubmit" />
                <input type="button" class="btn btn-danger" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    border-radius:20px !important;" id="btnCancel" onclick="cancel()" value="Cancel" />
            </div>
        </div>


    </div>
</div>
<div class="modal fade" tabindex="-1" id="modalInfo"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close redirect" data-dismiss="modal"> &times; </button>
                <h4 class="modal-title" id="modal-title">Info</h4>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger redirect" id="close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="modalCancel"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"> &times; </button>
                <h4 class="modal-title" id="modal-title1">Info</h4>
            </div>
            <div class="modal-body" id="modal-body1">
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning modalclose" id="btnCancelModal" style="width:100px">Yes</button>
                <button type="button" class="btn btn-danger" id="close" data-dismiss="modal" style="width:100px">No</button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="modalDelete"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"> &times; </button>
                <h4 class="modal-title" id="modal-title">Info</h4>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning modalclose" id="btnDeleteModal" style="width:100px">Yes</button>
                <button type="button" class="btn btn-danger" id="close" data-dismiss="modal" style="width:100px">No</button>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.nepali-calendar').nepaliDatePicker();
        getAllCountry();
        getClassBatchFaculty();
        getDepartment();
         if (@ViewBag.TeacherId == true) {
                $('#btnsubmit').val("Update");
            }
        if (@ViewBag.TeacherNo !=0) {
            debugger;
            $("#btnRemoveRow").hide();
            $("#btnRemoveRowExp").hide();
            loadTeacherDetails(@ViewBag.TeacherNo);
        }
    })
   var loadTeacherDetails = function (id) {
        debugger;
         var edit= '@ViewBag.value';
        $.ajax({
            url: "/api/GetTeacherInfo",
            method: "GET",
            data: {
                StaffId:id,
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                debugger;
                if (result != null) {
                    var teacherInfo = result[0][0];
                    var education = result[1];
                    var experience = result[2];
                    var currentAddress = result[3][0];
                    var permanentAddres = result[4][0];
                    var counteducation = education.length;
                    var countexperience = experience.length;
                    debugger;
                    if (teacherInfo != undefined) {
                        for (var d in teacherInfo) {
                            if (d == "Faculty") {
                                if (teacherInfo[d] != null) {
                                    $.ajax({
                                        url: "/api/GetClassBatchFaculty",
                                        method: "GET",
                                        data: {
                                            CompanyId:@Session["CompanyId"],
                                        },
                                        dataType: "json",
                                        success: function (result) {
                                            debugger;
                                            var facultyDetails = result[2];

                                            if (facultyDetails != undefined) {
                                                var v = "";
                                                for (var i in facultyDetails) {
                                                    v += "<option value=" + facultyDetails[i]['FacultyName'] + ">" + facultyDetails[i]['FacultyName'] + "</option>";
                                                }
                                                $(".faculty").html(v);
                                            }

                                        }
                                    })
                                    $('[name="' + d + '"]').val(teacherInfo[d]);
                                }
                                else {

                                }
                            }
                            else {

                                $('[name="' + d + '"]').val(teacherInfo[d]);
                            }
                        }
                    }
                    while (counteducation > 1) {
                        $("#btnRemoveRow").show();
                        addRow();
                        counteducation--;
                    }
                    if (education != undefined) {
                        for (var i in education) {
                            for (var d in education[i]) {

                                $("[name='Educations[" + i + "][" + d + "]']").val(education[i][d]);
                            }
                        }
                    }

                    while (countexperience > 1) {
                        $("#btnRemoveRowExp").show();
                        addRowExp();
                        countexperience--;
                    }
                    if (experience != undefined) {
                        for (var i in experience) {
                            for (var d in experience[i]) {
                                $("[name='Experiences[" + i + "][" + d + "]']").val(experience[i][d]);
                            }
                        }
                    }
                    if (currentAddress != undefined) {
                        debugger;
                        for (var d in currentAddress) {
                            if (d == "State") {
                                $('[name="CurrentAddress[' + d + ']"]').html("<option>" + currentAddress[d] + "</option>");
                                $('[name="CurrentAddress[' + d + ']"]').val(currentAddress[d]);
                            }
                            else {
                                $('[name="CurrentAddress[' + d + ']"]').val(currentAddress[d]);
                            }


                        }
                    }
                    if (permanentAddres != undefined) {
                        for (var d in permanentAddres) {
                            if (d == "State") {
                                $('[name="PermanentAddress[' + d + ']"]').html("<option>" + permanentAddres[d] + "</option>");
                                $('[name="PermanentAddress[' + d + ']"]').val(permanentAddres[d]);
                            }
                            else {
                                $('[name="PermanentAddress[' + d + ']"]').val(permanentAddres[d]);
                            }


                        }
                    }

                    debugger;
                    if (edit == "edit") {
                        $("#titleTeacherForm").html("Edit Information of <b>" + teacherInfo['FirstName'] + " " + teacherInfo['LastName'] + "</b>");
                    }
                    else{
                        $("#titleTeacherForm").html("Information of <b>" + teacherInfo['FirstName'] + " " + teacherInfo['LastName'] + "</b>");
                        $('#formTeacherInfo input').attr('disabled', true);
                        $('#formTeacherInfo textarea').attr('disabled', true);
                        $('#formTeacherInfo select').attr('disabled', true);
                        $('#btnCancel').val("Back");
                        $("#btnsubmit").hide();
                        $("#btnAddRow").hide();
                        $("#btnRemoveRow").hide();
                        $("#btnAddRowExp").hide();
                        $("#btnRemoveRowExp").hide();
                        $("#divTeacherFiles").hide();
                    }
                    loadTeacherDocument(@ViewBag.TeacherNo);
                }
                debugger;
               

            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }

        })
    }

  var loadTeacherDocument = function (id) {
        debugger;
        var edit= '@ViewBag.value';
        $.ajax({
            url: "/api/GetTeacherDocument/" + id,
            method: "GET",
            dataType: "json",
            success: function (result) {
                debugger;
                var id = result[0];
                debugger;
                if (result != null) {
                    if (edit == "edit") {
                        var html = "";
                        for (var d in result) {
                            html += ` <div class="form-row"><div class="col-md-6 docItem" style="margin-bottom:0px;background-color:lightgray">
                                    <a href="/UploadedFiles/teacher/documents/${ result[d]}" target="_blank"> ${result[d]} </a>
                                <button class="close" data-filename="${ result[d]}" title="Delete this file">&times;</button>
                            </div></div >`;

                        }
                        $("#docList").append(html);
                    }
                    else {

                        var html = "";
                        for (var d in result) {
                            html += ` <div class="form-row"><div class="col-md-6 docItem" style="margin-bottom:0px;background-color:lightgray">
                                    <a href="/UploadedFiles/teacher/documents/${ result[d]}" target="_blank"> ${result[d]} </a>
                                <button class="close" data-filename="${ result[d]}" title="Delete this file" disabled>&times;</button>
                            </div></div >`;

                        }
                        $("#docList").append(html);
                    }
                }
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }


    $('#docList').on('click', '.close', function (e) {
        debugger;
        e.preventDefault();
        var _this = $(this);
        var filename = _this.data("filename");

        swal({
            title: "Do you want to delete document " + filename + "?",
            text: "You will not be able to restore the data!",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {

                $.ajax({
                    url: '/api/DeleteTeacherDocument',
                    method: 'POST',
                    dataType: "json",
                    data: { "filename": filename },
                    dataType: "json",
                    success: function (result) {
                        debugger;
                        toastr.success("Deleted Successfully");
                        _this.parent(".docItem").remove();
                       
                    }
                })
            }
        })
    })

   

    var getDepartment = function () {
        $.ajax({
            url: "/api/GetAllDesignation",
            method: "GET",
            data: {
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                debugger;
                var department = result[0];
                var designation = result[1];
                if (department != undefined) {
                    debugger;
                    var v = "<option value=''>--Select--</option>";
                    for (var i in department) {
                        if (department[i]['Department'] != "Student") {
                            v += "<option value=" + department[i]['Department'] + ">" + department[i]['Department'] + "</option>";
                        }
                    }
                    $("#department").html(v);
                }
                if (designation != undefined) {
                    debugger;
                    var v = "<option value=''>--Select--</option>";
                    for (var i in designation) {
                        v += "<option value=" + designation[i]['Designation'] + ">" + designation[i]['Designation'] + "</option>";
                    }
                    $("#designation").html(v);
                }
            }
        })
    }

    var getClassBatchFaculty = function () {
        $.ajax({
            url: "/api/GetClassBatchFaculty",
            method: "GET",
            data: {
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                debugger;
                var classDetails = result[0];
                var batchDetails = result[1];
                var facultyDetails = result[2];
                var sectionDetails = result[3];
                //if (classDetails != undefined) {
                //    debugger;
                //    var v = "<option value=''>--Select--</option>";
                //    for (var i in classDetails) {
                //        v += "<option value=" + classDetails[i]['ClassName'] + ">" + classDetails[i]['ClassName'] + "</option>";
                //    }
                //    $(".class").html(v);
                //    $("#searchClass").html(v);
                //}
                if (batchDetails != undefined) {
                    var v = "<option value=''>--Select--</option>";
                    for (var i in batchDetails) {
                        v += "<option value='" + batchDetails[i]['SessionFrom'] + "-" + batchDetails[i]['SessionTo'] + "'>" + batchDetails[i]['SessionFrom'] + " - " + batchDetails[i]['SessionTo'] + "</option>";
                    }
                    $(".batch").html(v);
                    $("#searchBatch").html(v);
                }
                //if (facultyDetails != undefined) {
                //    var v = "<option value=''>--Select--</option>";
                //    for (var i in facultyDetails) {
                //        v += "<option value=" + facultyDetails[i]['FacultyName'] + ">" + facultyDetails[i]['FacultyName'] + "</option>";
                //    }
                //    $(".faculty").html(v);
                //}
                //if (sectionDetails != undefined) {
                //    var v = "<option value=''>--Select--</option>";
                //    for (var i in sectionDetails) {
                //        v += "<option value=" + sectionDetails[i]['SectionName'] + ">" + sectionDetails[i]['SectionName'] + "</option>";
                //    }
                //    $(".section").html(v);
                //    $("#searchSection").html(v);
                //}
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }

    $("#department").on('change', function (e) {
        debugger;
        e.preventDefault();
        var dept = $("#department").val();
        if (dept == "Teacher") {
            $.ajax({
                url: "/api/GetClassBatchFaculty",
                method: "GET",
                data: {
                    CompanyId:@Session["CompanyId"],
                },
                dataType: "json",
                success: function (result) {
                    debugger;
                    var facultyDetails = result[2];

                    if (facultyDetails != undefined) {
                        var v = "";
                        for (var i in facultyDetails) {
                            v += "<option value=" + facultyDetails[i]['FacultyName'] + ">" + facultyDetails[i]['FacultyName'] + "</option>";
                        }
                        $(".faculty").html(v);
                    }

                }
            })
        }
        else {
            $("#faculty").html("");
        }
    })

    var getAllCountry = function () {
        $.ajax({
            url: "/api/GetAllCountryList",
            method: "GET",
            data: {
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                debugger;
                if (result != undefined) {
                    debugger;
                    var v = "<option>--Select--</option>";
                    for (var i in result) {
                        v += "<option value =" + result[i]['CountryName'] + ">" + result[i]['CountryName'] + "</option>";
                    }
                    $(".country").html(v);
                }

            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }
    $("#btnRemoveRow").on('click', function () {
        debugger;
        var row = $("#btnAddRow").data("rows");
        if (row == 1) return;
        if (row == 2) {
            $("#btnRemoveRow").hide();
        }
        $("#education").children("div[id=degreedetails]:last").remove();
        $("#btnAddRow").data("rows", row - 1);
    })

    $("#btnAddRow").on('click', function () {
        debugger;
        $("#btnRemoveRow").show();
        addRow();
    });

    $("#btnRemoveRowExp").on('click', function () {
        debugger;
        var row = $("#btnAddRowExp").data("rows");
        if (row == 1) return;
        if (row == 2) {
            $("#btnRemoveRowExp").hide();
        }
        $("#experience").children("div[id=experiencedetails]:last").remove();
        $("#btnAddRowExp").data("rows", row - 1);
    })

    $("#btnAddRowExp").on('click', function () {
        debugger;
        $("#btnRemoveRowExp").show();
        addRowExp();
    });

    function addRow() {
        var row = $("#btnAddRow").data("rows");
        $("#btnAddRow").data("rows", row + 1);
        var html = `<div id="degreedetails">
                    <div class="form-row">
                        <input type="hidden" name="Educations[${row}][EducationId]" />
                        <div class="col-md-6">
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:130px;">Degree</label>
                                </div>
                                <input type="text" name="Educations[${row}][Degree]" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:130px;">Institution</label>
                                </div>
                                <input type="text" name="Educations[${row}][Institution]" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:130px;">Total Marks</label>
                                </div>
                                <input type="text" name="Educations[${row}][TotalMarks]" class="form-control" onkeypress="return isNumberKey(event)" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:130px;">Division</label>
                                </div>
                                <input type="text" name="Education[${row}][Division]" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>`;
                                                                                                            
        $("#education").append(html);

    };

    function addRowExp() {
        var row = $("#btnAddRowExp").data("rows");
        $("#btnAddRowExp").data("rows", row + 1);
        var html = `<div id="experiencedetails">
                        <div class="form-row">
                            <input type="hidden" name="Experiences[${row}][ExperienceId]" />
                            <div class="col-md-6">
                                <div class="input-group mt-2">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" style="width:130px;">Organisation</label>
                                    </div>
                                    <input type="text" name="Experiences[${row}][Organisation]" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mt-2">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" style="width:130px;">Post</label>
                                    </div>
                                    <input type="text" name="Experiences[${row}][Post]" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mt-2">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" style="width:130px;">Date From</label>
                                    </div>
                                    <input type="text" id="dateFrom" name="Experiences[${row}][DateFrom]" placeholder="साल-महिना-गते" class="form-control nepali-calendar" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mt-2">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" style="width:130px;">Date To</label>
                                    </div>
                                    <input type="text" id="dateTo" name="Experiences[${row}][DateTo]" placeholder="साल-महिना-गते" class="form-control nepali-calendar" />
                                </div>
                            </div>
                        </div>
                    </div>`;

        $("#experience").append(html);
        $('.nepali-calendar').nepaliDatePicker();
    };

    $(".country").on('change', function () {
        debugger;
        var _this = $(this);
        var id = _this.val();
        var target = $(this).parent().parent().siblings().find(".state");
        $.ajax({
            url: "/api/GetStates/",
            method: "GET",
            dataType: "json",
            data: {
                CountryName: _this.val(),
                 CompanyId:@Session["CompanyId"],
            },
            success: function (result) {
                debugger;
                var v = "<option disabled>--Select--</option>";
                for (var d in result) {
                    v += "<option value=" + result[d]['StateName'] + ">" + result[d]['StateName'] + "</option>";
                }
                target.html(v);
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
        debugger;
    })

    var cancel = function () {
        debugger;
        var cancel = $("#btnCancel").val();
        if (cancel == "Back") {
            location.href = "/Home/StaffManagement";
        }
        else {
            swal({
                title: "Are You sure You want to cancel it ?",
                icon: "warning",
                buttons: true,
                dangerMode: true
            }).then((willDelete) => {
                if (willDelete) {

                    location.href = "/Home/StaffManagement";


                }
            })
        }
    }

    $("#btnCancelModal").on('click', function () {
        debugger;
        $('#modalCancel').modal('hide');
        location.href = "/Home/StaffManagement";
    });

    $("#email").keyup(function () {

        var email = $("#email").val();
        var filter = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

        if (!filter.test(email)) {
            //alert('Please provide a valid email address');
            $("#error_email").text("Please enter valid email");

            email.focus;
            //return false;
        } else {
            $("#error_email").text("");

        }

    });

    $(".number").on('keyup', function () {
        debugger;
        var _this = $(this);
        var number = _this.val();
        var target = _this.parent().next('div').find('.message');
        if (number.length != 10) {
            target.text("required 10 digits number");
            number.focus;
        }
        else {
            target.text("");

        }
    });

    $(".phone").on('keyup', function () {
        debugger;
        var _this = $(this);
        var number = _this.val();
        var target = _this.parent().next('div').find('.error_phone');
        if (number.length != 10) {
            target.text("required 10 digits number");
            number.focus;
        }
        else {
            target.text("");

        }
    });

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    $("#btnsubmit").on('click', function (e) {
        e.preventDefault();
        SaveData();
    })

    function SaveData() {
        debugger;
        var fd = $("form").serializeJSON();
        fd.CompanyId=@Session["CompanyId"];
        debugger;
        if (fd.Designation == '') {
            alert("Please provide Designation");
            return;
        }
        debugger;
        if (fd.FirstName == '') {
            alert("Please provide First Name");
            return;
        }
        if (fd.Gender == '') {
            alert("Please select your gender");
            return;
        }
        debugger;
        $.ajax({
            url: '/api/PostTeacherDetails',
            type: 'POST',
            dataType: "json",
            data: fd,
            success: function (data) {
                debugger;
                SaveDocument(data);

               
                   
                    $("form").find("input[type=text],input[type=file],textarea,select").val("");
                    $("#education").empty();
                    $("#experience").empty();
                    $("#docList").empty();
                    toastr.success("Added Successfully");
                    window.setTimeout(function () {
                        location.href = "/Home/StaffManagement";
                        loadData();
                    }, 2000);
                   
                    

               
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }

    function SaveDocument(id) {
        debugger;
        var data = new FormData();
        var ins = $('#multiFiles')[0].files.length;
        debugger;
        for (var x = 0; x < ins; x++) {
            data.append("Document[]", $('#multiFiles')[0].files[x]);
        }
        debugger;
        if (!id) id = $('input[name="TeacherId"]').val();
        data.append('TeacherId', id);
        data.append('Prefix', "doc");
        data.append('CompanyId',@Session["CompanyId"]);

        $.ajax({
            url: '/api/UploadTeacherDocuments',
            method: 'POST',
            contentType: false,
            processData: false,
            data: data,
            success: function (response) {

            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        });
    }

    $(".checkbox").change(function () {
        debugger;
        if (this.checked) {
            $('[name="PermanentAddress[HouseNo]"]').val($('[name ="CurrentAddress[HouseNo]"]').val());
            $('[name="PermanentAddress[Street]"]').val($('[name ="CurrentAddress[Street]"]').val());
            $('[name="PermanentAddress[Municipality]"]').val($('[name ="CurrentAddress[Municipality]"]').val());
            $('[name="PermanentAddress[Country]"]').val($('[name ="CurrentAddress[Country]"]').val());
            $('[name="PermanentAddress[State]"]').html("<option value=" + $('[name ="CurrentAddress[State]"]').val() + ">" + $('[name ="CurrentAddress[State]"]').val() + "</option>").val();
            $('[name="PermanentAddress[MobileNo]"]').val($('[name ="CurrentAddress[MobileNo]"]').val());
            $('[name="PermanentAddress[PhoneNo]"]').val($('[name ="CurrentAddress[PhoneNo]"]').val());
        }
        else {
            $('[name="PermanentAddress[HouseNo]"]').val('');
            $('[name="PermanentAddress[Street]"]').val('');
            $('[name="PermanentAddress[Municipality]"]').val('');
            $('[name="PermanentAddress[Country]"]').val('');
            $('[name="PermanentAddress[State]"]').val('');
            $('[name="PermanentAddress[MobileNo]"]').val('');
            $('[name="PermanentAddress[PhoneNo]"]').val('');
            debugger;
        }
    });
</script>

