
@{
    ViewBag.Title = "StudentForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" id="divStudentInfo">
    <div class="col-md-1"></div>
    <div class="col-md-10 card p-3">
            <h4 class="card-title" id="titleStudentForm">Student Information Form</h4>
         <hr/>
         <form id="formStudentInfo">
             <h5>Personal Information</h5>
             <div class="form-row">
                 <input type="hidden" name="StudentId" />
                 <input type="hidden" name="CompanyId" value="@Session["CompanyId"]" />
                 <div class="col-md-6">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:130px;">FirstName</label>
                         </div>
                         <input type="text" name="FirstName" class="form-control" required />
                     </div>
                 </div>

                 <div class="col-md-6">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:130px;">LastName</label>
                         </div>
                         <input type="text" name="LastName" class="form-control" required />
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:130px;">Gender</label>
                         </div>
                         <select class="form-control" name="Gender" id="selectGender">
                             <option value="Male">Male</option>
                             <option value="Female">Female</option>
                         </select>
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:130px;">EmailId</label>
                         </div>
                         <input type="text" name="EmailId" id="email" class="form-control" required />

                     </div>
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label style="width:130px;"></label>
                         </div>
                         <label id="error_email" style="color: red;"></label>
                     </div>

                 </div>

                 <div class="col-md-6">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:130px;">Birth Date(BS)</label>
                         </div>
                         <input type="text" name="DateOfBirth_BS" id="dateinbs" placeholder="साल-महिना-गते" class="form-control nepali-calendar" />
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:130px;">Birth Date(AD)</label>
                         </div>
                         <input type="date" name="DateOfBirth_AD" id="dateinbs" class="form-control" />
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:130px;">Mobile No.</label>
                         </div>
                         <input type="text" name="MobileNo" class="form-control number" onkeypress="return isNumberKey(event)" />
                     </div>
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label style="width:130px;"></label>
                         </div>
                         <label class="message" style="color: red;"></label>
                     </div>
                 </div>
                 <div class="col-md-6"></div>
                 <div class="col-md-6">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:130px;">Father's Name</label>
                         </div>
                         <input type="text" name="FatherName" class="form-control" />
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:130px;">Mother's Name</label>
                         </div>
                         <input type="text" name="MotherName" class="form-control" />
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:130px;">Father's No.</label>
                         </div>
                         <input type="text" name="FatherNumber" class="form-control number" onkeypress="return isNumberKey(event)" />
                     </div>
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label style="width:130px;"></label>
                         </div>
                         <label class="message" style="color: red;"></label>
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:130px;">Mother's No.</label>
                         </div>
                         <input type="text" name="MotherNumber" id="mothernum" class="form-control" onkeypress="return isNumberKey(event)" />
                     </div>
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label style="width:130px;"></label>
                         </div>
                         <label id="numerror" style="color: red;"></label>
                     </div>
                 </div>
             </div>
             <h5>Past Education</h5>
             <div id="pasteducation">
                 <div id="degreedetails">
                     <div class="form-row">
                         <input type="hidden" name="PastEducation[0][PastEducationId]" />
                         <div class="col-md-6">
                             <div class="input-group mt-2">
                                 <div class="input-group-prepend">
                                     <label class="input-group-text" style="width:130px;">Degree</label>
                                 </div>
                                 <input type="text" name="PastEducation[0][Degree]" class="form-control" required />
                             </div>
                         </div>
                         <div class="col-md-6">
                             <div class="input-group mt-2">
                                 <div class="input-group-prepend">
                                     <label class="input-group-text" style="width:130px;">School</label>
                                 </div>
                                 <input type="text" name="PastEducation[0][School]" class="form-control" required />
                             </div>
                         </div>
                         <div class="col-md-6">
                             <div class="input-group mt-2">
                                 <div class="input-group-prepend">
                                     <label class="input-group-text" style="width:130px;">Total Marks</label>
                                 </div>
                                 <input type="text" name="PastEducation[0][TotalMarks]" class="form-control" onkeypress="return isNumberKey(event)" />
                             </div>
                         </div>
                         <div class="col-md-6">
                             <div class="input-group mt-2">
                                 <div class="input-group-prepend">
                                     <label class="input-group-text" style="width:130px;">Division</label>
                                 </div>
                                 <input type="text" name="PastEducation[0][Division]" class="form-control" />
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="pull-right">
                 <input type="button" style="border-radius:10px;margin-top:5px;margin-right:5px;" id="btnAddRow" data-rows="1" value="+ Add more" />
                 <input type="button" style="border-radius:10px;margin-top:5px;" id="btnRemoveRow" value="- Remove one" />
             </div><br />
             <h5>Documents</h5>
            
                 <div id="docList">

                 </div>
            
             <div class="form-row">
                 <div class="col-md-12">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:150px;margin-right:10px;">Upload Documents:</label>
                         </div>
                         <input type="file" name="Document[]" id="multiFiles" style="margin-top:5px;" multiple />
                     </div>
                 </div>
             </div><br />
             <h5>Current Education</h5>

             <div class="form-row">
                 <input type="hidden" name="CurrentEducation[CurrentEducationId]" />
                 <div class="col-md-6">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:130px;">Select Faculty</label>
                         </div>
                         <select class="form-control faculty" name="CurrentEducation[Faculty]" id="selectFaculty"></select>
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:130px;">Select Batch</label>
                         </div>
                         <select class="form-control batch" name="CurrentEducation[Batch]" id="selectBatch"></select>
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:130px;">Select Class</label>
                         </div>
                         <select class="form-control class" name="CurrentEducation[Class]" id="selectClass"></select>
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:130px;">Select Section</label>
                         </div>
                         <select class="form-control section" name="CurrentEducation[Section]" id="selectSection"></select>
                     </div>
                 </div>
             </div><br />
             <h5>Current Address</h5>
             <div class="form-row">
                 <input type="hidden" name="CurrentAddress[AddressId]" />
                 <div class="col-md-4">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:100px;">House No.</label>
                         </div>
                         <input type="text" class="form-control" name="CurrentAddress[Qno]" />
                     </div>
                 </div>
                 <div class="col-md-4">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:100px;">Street</label>
                         </div>
                         <input type="text" class="form-control" name="CurrentAddress[Street]" />
                     </div>
                 </div>
                 <div class="col-md-4">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:100px;">Municipality</label>
                         </div>
                         <input type="text" class="form-control" name="CurrentAddress[Municipality]" />
                     </div>
                 </div>

                 <div class="col-md-6">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:130px;">Country</label>
                         </div>
                         <select class="form-control country" name="CurrentAddress[Country]" id="selectCountry"></select>
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:130px;">State</label>
                         </div>
                         <select class="form-control state" name="CurrentAddress[State]" id="selectCurrentState"></select>
                     </div>
                 </div>

             </div><br />

             @*<div class="form-inline" style="color:green;"><input type='checkbox' class='checkbox' id="sameAddress" value='true' />&nbsp;&nbsp;Permanent address same as Current address</div><br />*@

             <h5>Permanent Address</h5>
             <div class="form-row">
                 <input type="hidden" name="PermanentAddress[AddressId]" />
                 <div class="col-md-4">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:100px;">House No.</label>
                         </div>
                         <input type="text" class="form-control" name="PermanentAddress[Qno]" />
                     </div>
                 </div>
                 <div class="col-md-4">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:100px;">Street</label>
                         </div>
                         <input type="text" class="form-control" name="PermanentAddress[Street]" />
                     </div>
                 </div>
                 <div class="col-md-4">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:100px;">Municipality</label>
                         </div>
                         <input type="text" class="form-control" name="PermanentAddress[Municipality]" />
                     </div>
                 </div>

                 <div class="col-md-6">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:130px;">Country</label>
                         </div>
                         <select class="form-control country" name="PermanentAddress[Country]" id="selectCountry"></select>
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:130px;">State</label>
                         </div>
                         <select class="form-control state" name="PermanentAddress[State]" id="selectCurrentState"></select>
                     </div>
                 </div>

             </div><br />
             <h5>Emergency Contact</h5>
             <div class="form-row">
                 <input type="hidden" name="EmergencyDetails[EmergencyContactId]" />
                 <div class="col-md-6">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:130px;">Parents</label>
                         </div>
                         <input type="text" name="EmergencyDetails[ParentName]" class="form-control" />
                     </div>

                 </div>
                 <div class="col-md-6">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:130px;">Contact No.</label>
                         </div>
                         <input type="text" name="EmergencyDetails[ContactNumber]" class="form-control number" onkeypress="return isNumberKey(event)" />
                     </div>
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label style="width:130px;"></label>
                         </div>
                         <label class="message" style="color: red;"></label>
                     </div>
                 </div>
             </div>
             <div class="form-row">
                 <div class="col-md-6">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:130px;">Location</label>
                         </div>
                         <input type="text" name="EmergencyDetails[Location]" class="form-control" />
                     </div>
                    
                 </div>
             </div><br/>

             <h5>Scholarship</h5>
             <div class="form-row">
                 <input type="hidden" name="Scholarship[StudentScholarshipId]" />
                 <div class="col-md-6">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:130px;">Scholarship</label>
                         </div>
                         <select class="form-control" name="Scholarship[ScholarshipName]" id="selectScholarshipName"></select>
                     </div>

                 </div>
                 <div class="col-md-6">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:130px;">Provide Details:</label>
                         </div>
                         <textarea name="Scholarship[Description]" class="form-control input-sm/"></textarea>
                     </div>

                 </div>
                 <div class="col-md-6">
                     <div class="input-group mt-2">
                         <div class="input-group-prepend">
                             <label class="input-group-text" style="width:130px;">Admission Date</label>
                         </div>
                         <input type="text" id="admissiondate"  placeholder="साल-महिना-गते" class="form-control nepali-calendar" name="Scholarship[DateOfAdmission]" />
                     </div>

                 </div>
             </div><br/>
                <h5>Student Status</h5>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="input-group mt-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text" style="width:130px;">Status</label>
                            </div>
                            <select class="form-control" name="Status">
                                <option value="Active">Active</option>
                                <option value="NotActive">Not-Active</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="input-group mt-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text" style="width:130px;">Student Type</label>
                            </div>
                            <select class="form-control" name="StudentType" id="selectStudentType">
                                
                            </select>
                        </div>

                    </div>
                </div>
             <br />
         </form>
        
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <input type="submit" value="Submit" class="btn btn-default" id="btnsubmit" />
                        <input type="button" class="btn btn-danger" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    border-radius:20px !important;" id="btnCancel" onclick="cancel()" value="Cancel" />
                    </div>
                </div>
           
        
    </div>
</div>

<div class="modal fade" tabindex="-1" id="modalInfo"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close redirect" data-dismiss="modal"> &times; </button>
                <h4 class="modal-title" id="modal-title">Info</h4>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger redirect" id="close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="modalDelete"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"> &times; </button>
                <h4 class="modal-title" id="modal-title">Info</h4>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning modalclose" id="btnDeleteModal" style="width:100px">Yes</button>
                <button type="button" class="btn btn-danger" id="close" data-dismiss="modal" style="width:100px">No</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="modalCancel"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"> &times; </button>
                <h4 class="modal-title" id="modal-title1">Info</h4>
            </div>
            <div class="modal-body" id="modal-body1">
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning modalclose" id="btnCancelModal" style="width:100px">Yes</button>
                <button type="button" class="btn btn-danger" id="close" data-dismiss="modal" style="width:100px">No</button>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        debugger;
        getAllCountry();
        getClassBatchFaculty();
        getScholarandStudentType();
        $('.nepali-calendar').nepaliDatePicker();
        if (@ViewBag.StudentId == true) {
                $('#btnsubmit').val("Update");
            }
        if ('@ViewBag.StudentNo' != '') {
            debugger;
            $("#btnRemoveRow").hide();
            loadStudentDetails('@ViewBag.StudentNo');
             
        }
    })
    var getScholarandStudentType = function () {
        $.ajax({
            url: "/api/GetScholarshipAndStudentType",
            method: "GET",
             data:{
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                var scholarship = result[0];
                var studenttype = result[1];
                if (scholarship != undefined) {
                    debugger;
                    var v = "<option value=''>--Select--</option>";
                    for (var i in scholarship) {
                        v += "<option value=" + scholarship[i]['ScholarshipName'] + ">" + scholarship[i]['ScholarshipName'] + "</option>";
                    }
                    $("#selectScholarshipName").html(v);
                }

                if (studenttype != undefined) {
                    var v = "";
                    for (var i in studenttype) {
                        v += "<option value=" + studenttype[i]['StudentTypeName'] + ">" + studenttype[i]['StudentTypeName'] + "</option>";
                    }
                    $("#selectStudentType").html(v);
                }
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }

    var getClassBatchFaculty = function () {
        $.ajax({
            url: "/api/GetClassBatchFaculty",
            method: "GET",
             data:{
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                var classDetails = result[0];
                var batchDetails = result[1];
                var facultyDetails = result[2];
                var sectionDetails = result[3];
                if (classDetails != undefined) {
                    debugger;
                    var v = "<option value=''>--Select--</option>";
                    for (var i in classDetails) {
                        v += "<option value=" + classDetails[i]['ClassName'] + ">" + classDetails[i]['ClassName'] + "</option>";
                    }
                    $(".class").html(v);
                    $("#searchClass").html(v);
                }
                if (batchDetails != undefined) {
                    var v = "<option value=''>--Select--</option>";
                    for (var i in batchDetails) {
                        v += "<option value='" + batchDetails[i]['SessionFrom'] + "-" + batchDetails[i]['SessionTo'] + "'>" + batchDetails[i]['SessionFrom'] + " - " + batchDetails[i]['SessionTo'] + "</option>";
                    }
                    $(".batch").html(v);
                    $("#searchBatch").html(v);
                }
                if (facultyDetails != undefined) {
                    var v = "<option value=''>--Select--</option>";
                    for (var i in facultyDetails) {
                        v += "<option value=" + facultyDetails[i]['FacultyName'] + ">" + facultyDetails[i]['FacultyName'] + "</option>";
                    }
                    $(".faculty").html(v);
                }
                if (sectionDetails != undefined) {
                    var v = "<option value=''>--Select--</option>";
                    for (var i in sectionDetails) {
                        v += "<option value=" + sectionDetails[i]['SectionName'] + ">" + sectionDetails[i]['SectionName'] + "</option>";
                    }
                    $(".section").html(v);
                    $("#searchSection").html(v);
                }
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }

    var getAllCountry = function () {
        $.ajax({
            url: "/api/GetAllCountryList",
            method: "GET",
             data:{
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                debugger;
                if (result != undefined) {
                    debugger;
                    var v = "<option>--Select--</option>";
                    for (var i in result) {
                        v += "<option value =" + result[i]['CountryName'] + ">" + result[i]['CountryName'] + "</option>";
                    }
                    $(".country").html(v);
                }

            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }

    $(".country").on('change', function () {
        debugger;
        var _this = $(this);
        var id = _this.val();
        var target = $(this).parent().parent().siblings().find(".state");
        $.ajax({
            url: "/api/GetStates/",
            method: "GET",
            dataType: "json",
            data: {
                CountryName: _this.val(),
                CompanyId:@Session["CompanyId"],
            },
            success: function (result) {
                debugger;
                var v = "<option>--Select--</option>";
                for (var d in result) {
                    v += "<option value=" + result[d]['StateName'] + ">" + result[d]['StateName'] + "</option>";
                }
                target.html(v);
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
        debugger;
    })

    $("#btnsubmit").on('click', function (e) {
        e.preventDefault();
        SaveData();
    })

    function SaveData() {
        debugger;
        var fd = $("form").serializeJSON();
        fd.CompanyId = '@Session["CompanyId"]';
        debugger;
        if (fd.CurrentEducation.Class == '' || fd.CurrentEducation.Section == '' || fd.Scholarship.Batch == '') {
            alert("Please provide Class,Section,Batch");
            return;
        }
        debugger;
        var email = fd.EmailId;
        if (fd.FirstName == '') {
            alert("Please provide First Name");
            return;
        }
        if (fd.Gender == '') {
            alert("Please select your gender");
            return;
        }
        var filter = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

        //if (!filter.test(email)) {
        //    alert("Please enter Valid Email");
        //    return;
        //}
        debugger;
      
        debugger;
        $.ajax({
            url: '/api/PostStudentDetails',
            type: 'POST',
            dataType: "json",
            data:fd,
               
            success: function (data) {
                debugger;
                SaveDocument(data);

                //$('#modalInfo').modal('show');
                //$('#modalInfo .modal-title').html("Success");
                //$('#modalInfo .modal-body').html(" Successful.");
                //$(".redirect").on('click', function () {
                //    debugger;
                //    $('#modalInfo').modal('hide');
                    $("form").find("input[type=text],input[type=file],textarea,select").val("");
                    $("#pasteducation").empty();
                    $("#docList").empty();
                toastr.success("Added Successfully");
                window.setTimeout(function () {
                    location.href = "/Home/StudentManagement";
                }, 2000);
               
                    
                //})
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }

    function SaveDocument(id) {
        debugger;
        var data = new FormData();
        var ins = $('#multiFiles')[0].files.length;
        debugger;
        for (var x = 0; x < ins; x++) {
            data.append("Document[]", $('#multiFiles')[0].files[x]);
        }
        debugger;
        if (!id) id = $('input[name="StudentId"]').val();
        data.append('StudentId', id);
        data.append('CompanyId',@Session["CompanyId"]);
        data.append('Prefix', "doc");

        $.ajax({
            url: '/api/UploadDocuments',
            method: 'POST',
            contentType: false,
            processData: false,
            data: data,
            success: function (response) {

            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        });
    }

    $("#btnRemoveRow").on('click', function () {
        debugger;
        var row = $("#btnAddRow").data("rows");
        if (row == 1) return;
        if (row == 2) {
            $("#btnRemoveRow").hide();
        }
        $("#pasteducation").children("div[id=degreedetails]:last").remove();
        $("#btnAddRow").data("rows", row - 1);
    })

    $("#btnAddRow").on('click', function () {
        debugger;
        $("#btnRemoveRow").show();
        addRow();
    });


    function addRow() {
        var row = $("#btnAddRow").data("rows");
        $("#btnAddRow").data("rows", row + 1);
        var html = `<div id="degreedetails">
             <div class="form-row">
                 <input type="hidden" name="PastEducation[${row}][PastEducationId]" />
                     <div class="col-md-6">
                         <div class="input-group mt-2">
                             <div class="input-group-prepend">
                                 <label class="input-group-text" style="width:130px;">Degree</label>
                             </div>
                             <input type="text" name="PastEducation[${row}][Degree]" class="form-control" required />
                         </div>
                     </div>
                     <div class="col-md-6">
                         <div class="input-group mt-2">
                             <div class="input-group-prepend">
                                 <label class="input-group-text" style="width:130px;">School</label>
                             </div>
                             <input type="text" name="PastEducation[${row}][School]" class="form-control" required />
                         </div>
                     </div>
                     <div class="col-md-6">
                         <div class="input-group mt-2">
                             <div class="input-group-prepend">
                                 <label class="input-group-text" style="width:130px;">Total Marks</label>
                             </div>
                             <input type="text" name="PastEducation[${row}][TotalMarks]" class="form-control" onkeypress="return isNumberKey(event)" />
                         </div>
                     </div>
                     <div class="col-md-6">
                         <div class="input-group mt-2">
                             <div class="input-group-prepend">
                                 <label class="input-group-text" style="width:130px;">Division</label>
                             </div>
                             <input type="text" name="PastEducation[${row}][Division]" class="form-control" />
                         </div>
                     </div>
                 </div>
             </div>`;

        $("#pasteducation").append(html);

    };

    var cancel = function () {
        debugger;
        var cancel = $("#btnCancel").val();
        if (cancel == "Back") {
            location.href = "/Home/StudentManagement";
        }
        else {
             swal({
            title: "Are You sure You want to cancel it ?",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {

                location.href = "/Home/StudentManagement";
   

            }
        })
        }
        }

   

    $("#email").keyup(function () {

        var email = $("#email").val();
        var filter = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

        if (!filter.test(email)) {
            //alert('Please provide a valid email address');
            $("#error_email").text("Please enter valid email");

            email.focus;
            //return false;
        } else {
            $("#error_email").text("");

        }

    });

    $(".number").on('keyup', function () {
        debugger;
        var _this = $(this);
        var number = _this.val();
        var target = _this.parent().next('div').find('.message');
        if (number.length != 10) {
            target.text("required 10 digits number");
            number.focus;
        }
        else {
            target.text("");

        }
    });

    $("#mothernum").on('keyup', function () {
        var num = $("#mothernum").val();
        if (num.length != 10) {
            $("#numerror").text("required 10 digits number");
            num.focus;
        }
        else {
            $("#numerror").text("");

        }
    })


    var loadStudentDocument = function (id) {
        debugger;
        var edit= '@ViewBag.value';
        $.ajax({
            url: "/api/GetStudentDocument/" + id,
            method: "GET",
            dataType: "json",
            success: function (result) {
                debugger;
                var id = result[0];
                debugger;
                if (result != null) {
                    if (edit == "edit") {
                        var html = "";
                        for (var d in result) {
                            html += ` <div class="form-row"><div class="col-md-6 docItem" style="margin-bottom:0px;background-color:lightgray">
                                    <a href="/UploadedFiles/student/documents/${ result[d]}" target="_blank"> ${result[d]} </a>
                                <button class="close" data-filename="${ result[d]}" title="Delete this file">&times;</button>
                            </div></div >`;
                          
                            
                        }
                        $("#docList").append(html);
                    }
                    else {

                        var html = "";
                        for (var d in result) {
                            html += `<div class="form-row"><div class="col-md-6 docItem" style="margin-bottom:0px;background-color:lightgray">
                                    <a href="/UploadedFiles/student/documents/${ result[d]}" target="_blank"> ${result[d]} </a>
                                <button class="close" data-filename="${ result[d]}" title="Delete this file" disabled>&times;</button>
                            </div></div >`;

                        }
                        $("#docList").append(html);
                    }
                }
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }

    $('#docList').on('click', '.close', function (e) {
        debugger;
        e.preventDefault();
        var _this = $(this);
        var filename = _this.data("filename");

        swal({
            title: "Do you want to delete document " + filename + "?",
            text: "You will not be able to restore the data!",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {

                $.ajax({
                    url: '/api/DeleteDocument',
                    method: 'POST',
                    dataType: "json",
                    data: { "filename": filename },
                    dataType: "json",
                    success: function (result) {
                        debugger;
                        toastr.success("Deleted Successfully");
                        _this.parent(".docItem").remove();
                       
                    }
                })
            }
        })
       
    })

    

    var loadStudentDetails = function (id) {
        debugger;
         var edit= '@ViewBag.value';
        $.ajax({
            url: "/api/GetStudentInfo",
            method: "GET",
            data: {
                StudentId: id,
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                if (result != null) {
                    var studentInfo = result[0][0];
                    var pastEducation = result[1];
                    var currentEducation = result[2][0];
                    var currentAddress = result[3][0];
                    var permanentAddres = result[4][0];
                    var emergencyContact = result[5][0];
                    var scholarship = result[6][0];
                    var count = pastEducation.length;
                    debugger;
                    if (studentInfo != undefined) {
                        for (var d in studentInfo) {
                            $('[name="' + d + '"]').val(studentInfo[d]);
                        }
                    }
                    while (count > 1) {
                        $("#btnRemoveRow").show();
                        addRow();
                        count--;
                    }
                    if (pastEducation != undefined) {
                        for (var i in pastEducation) {
                            for (var d in pastEducation[i]) {

                                $("[name='PastEducation[" + i + "][" + d + "]']").val(pastEducation[i][d]);
                            }
                        }
                    }
                    if (currentEducation != undefined) {
                        for (var d in currentEducation) {
                            $('[name="CurrentEducation[' + d + ']"]').val(currentEducation[d]);
                        }
                    }
                    if (currentAddress != undefined) {
                        debugger;
                        for (var d in currentAddress) {
                            if (d == "State") {
                                $('[name="CurrentAddress[' + d + ']"]').html("<option>" + currentAddress[d] + "</option>");
                                $('[name="CurrentAddress[' + d + ']"]').val(currentAddress[d]);
                            }
                            else {
                                $('[name="CurrentAddress[' + d + ']"]').val(currentAddress[d]);
                            }


                        }
                    }
                    if (permanentAddres != undefined) {
                        for (var d in permanentAddres) {
                            if (d == "State") {
                                $('[name="PermanentAddress[' + d + ']"]').html("<option>" + permanentAddres[d] + "</option>");
                                $('[name="PermanentAddress[' + d + ']"]').val(permanentAddres[d]);
                            }
                            else {
                                $('[name="PermanentAddress[' + d + ']"]').val(permanentAddres[d]);
                            }


                        }
                    }

                    if (emergencyContact != undefined) {
                        for (var d in emergencyContact) {
                            $('[name="EmergencyDetails[' + d + ']"]').val(emergencyContact[d]);
                        }
                    }

                    if (scholarship != undefined) {
                        for (var d in scholarship) {
                            $('[name="Scholarship[' + d + ']"]').val(scholarship[d]);
                        }
                    }
                    debugger;
                    if (edit == "edit") {
                        $("#titleStudentForm").html("Edit Information of <b>" + studentInfo['FirstName'] + " " + studentInfo['LastName'] + "</b>");
                    }
                    else{
                        $("#titleStudentForm").html("Information of <b>" + studentInfo['FirstName'] + " " + studentInfo['LastName'] + "</b>");
                        $('#formStudentInfo input').attr('disabled', true);
                        $('#formStudentInfo textarea').attr('disabled', true);
                        $('#formStudentInfo select').attr('disabled', true);
                        $('#btnCancel').val("Back");
                        $("#btnsubmit").hide();
                        $("#btnAddRow").hide();
                        $("#btnRemoveRow").hide();
                        $("#divStudentFiles").hide();
                    }
                    loadStudentDocument('@ViewBag.StudentNo');
                }
                debugger;
               

            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }

        })
    }

    //$(".checkbox").change(function () {
       
    //    debugger;
    //    if (this.checked) {
    //        $('[name="PermanentAddress[Qno]"]').val($('[name ="CurrentAddress[Qno]"]').val());
    //        $('[name="PermanentAddress[Street]"]').val($('[name ="CurrentAddress[Street]"]').val());
    //        $('[name="PermanentAddress[Municipality]"]').val($('[name ="CurrentAddress[Municipality]"]').val());
    //        $('[name="PermanentAddress[Country]"]').val($('[name ="CurrentAddress[Country]"]').val());
    //        $('[name="PermanentAddress[State]"]').html("<option value=" + $('[name ="CurrentAddress[State]"]').val() + ">" + $('[name ="CurrentAddress[State]"]').val() + "</option>").val();
    //    }
    //    else {
    //        $('[name="PermanentAddress[Qno]"]').val('');
    //        $('[name="PermanentAddress[Street]"]').val('');
    //        $('[name="PermanentAddress[Municipality]"]').val('');
    //        $('[name="PermanentAddress[Country]"]').val('');
    //        $('[name="PermanentAddress[State]"]').val('');
    //        debugger;
    //    }
    //});

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>
