
@{
    ViewBag.Title = "StudentForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" id="divStudentInfo">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="panel panel-default" style="background-color:floralwhite !important;">
            <div class="panel-heading" id="titleStudentForm" style="background-color:aqua">Student Information Form</div>
            <div class="panel-body" style="background-color:transparent">
                <form id="formStudentInfo">
                    <div class="thumbnail">
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 style="color:brown">Personal Information</h4>
                            </div>
                        </div>
                        <div class="well well-sm">
                            <div class="flexContainer">
                                <input type="hidden" name="StudentId" />
                                <input type="hidden" name="CompanyId" value="@Session["CompanyId"]" />
                                <label style="flex:1.3">First Name :&nbsp;</label>
                                <input type="text" class="form-control" name="FirstName" style="flex:2" />&nbsp;&nbsp;&nbsp;&nbsp;
                                <label style="flex:1.3">Last Name:&nbsp;&nbsp;</label>
                                <input type="text" class="form-control" name="LastName" style="flex:2" />&nbsp;&nbsp;&nbsp;&nbsp;
                            </div><br />
                            <div class="flexContainer">
                                <label style="flex:1.3">Gender :&nbsp;</label>
                                <select class="form-control" name="Gender" style="flex:2" id="selectGender">
                                    <option value="">select</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>&nbsp;&nbsp;&nbsp;&nbsp;
                                <label style="flex:1.3">Email Id:&nbsp;</label>
                                <input type="text" class="form-control" name="EmailId" id="email" style="flex:2" />&nbsp;&nbsp;&nbsp;&nbsp;

                            </div>
                            <div class="flexContainer">
                                <label style="flex:1.3"></label>
                                <label style="flex:2"></label>
                                <label style="flex:1.3"></label>
                                <span style="flex:2">
                                    <label id="error_email" style="color: red;"></label>
                                </span>
                            </div>

                            <div class="flexContainer">
                                <label style="width:141px;">Date of Birth(BS):&nbsp;</label>
                                <input type="text" id="dateinbs" style="width:243px" placeholder="साल-महिना-गते" class="form-control nepali-calendar" name="DateOfBirth_BS" />&nbsp;&nbsp;&nbsp;&nbsp;
                                <label style="width:141px;">Date of Birth(AD):&nbsp;</label>
                                <input type="date" name="DateOfBirth_AD" style="width:243px" class="form-control" />&nbsp;&nbsp;&nbsp;&nbsp;

                            </div><br />
                            <div class="flexContainer">
                                <label style="width:141px;">Mobile No:&nbsp;</label>
                                <input type="text" class="form-control number" name="MobileNo" style="width:243px" onkeypress="return isNumberKey(event)" />&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="flexContainer">
                                <label style="flex:1.3"></label>
                                <span style="flex:2">
                                    <label class="message" style="color: red;"></label>
                                </span>
                                <label style="flex:1.3"></label>
                                <label style="flex:2"></label>
                            </div>
                            <div class="flexContainer">
                                <label style="flex:1.3">Father's Name :&nbsp;</label>
                                <input type="text" class="form-control" name="FatherName" style="flex:2" />&nbsp;&nbsp;&nbsp;&nbsp;
                                <label style="flex:1.3">Mother's Name:&nbsp;&nbsp;</label>
                                <input type="text" class="form-control" name="MotherName" style="flex:2" />&nbsp;&nbsp;&nbsp;&nbsp;
                            </div><br />
                            <div class="flexContainer">
                                <label style="flex:1.3">Father's No. :&nbsp;</label>
                                <input type="text" class="form-control number" name="FatherNumber" style="flex:2" onkeypress="return isNumberKey(event)" />&nbsp;&nbsp;&nbsp;&nbsp;
                                <label style="flex:1.3">Mother's No.:&nbsp;&nbsp;</label>
                                <input type="text" class="form-control" id="mothernum" name="MotherNumber" style="flex:2" onkeypress="return isNumberKey(event)" />&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="flexContainer">
                                <label style="flex:1.3"></label>
                                <span style="flex:2">
                                    <label class="message" style="color: red;"></label>
                                </span>
                                <label style="flex:1.3"></label>
                                <span style="flex:2">
                                    <label id="numerror" style="color: red;"></label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="thumbnail">
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 style="color:brown">Past Education</h4>
                            </div>
                        </div>
                        <div id="pasteducation">
                            <input type="hidden" name="PastEducation[0][PastEducationId]" />
                            <div id="degreedetails" class="well well-sm">
                                <div class="flexContainer">
                                    <label style="flex:1.3">Degree :&nbsp;</label>
                                    <input type="text" class="form-control" name="PastEducation[0][Degree]" style="flex:2" id="selectGender" />&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label style="flex:1.3">School.:&nbsp;&nbsp;</label>
                                    <input type="text" class="form-control" name="PastEducation[0][School]" style="flex:2" />&nbsp;&nbsp;&nbsp;&nbsp;
                                </div><br />
                                <div class="flexContainer">
                                    <label style="flex:1.3">Total Marks :&nbsp;</label>
                                    <input type="text" class="form-control" name="PastEducation[0][TotalMarks]" style="flex:2" onkeypress="return isNumberKey(event)" />&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label style="flex:1.3">Division.:&nbsp;&nbsp;</label>
                                    <input type="text" class="form-control" name="PastEducation[0][Division]" style="flex:2" />&nbsp;&nbsp;&nbsp;&nbsp;
                                </div><br />
                            </div>
                        </div>
                    </div>
                    <input type="button" id="btnAddRow" data-rows="1" value="+ Add more" />
                    <input type="button" id="btnRemoveRow" value="- Remove one" />

                    <br /><br />
                    <div class="thumbnail">
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 style="color:brown">Documents</h4>
                            </div>
                        </div>
                        <div class="well well-sm">
                            <div id="docList">

                            </div><br />
                            <div class="flexContainer" id="divStudentFiles">
                                <span style="flex:1">Upload Documents:</span>&nbsp;
                                <input type="file" name="Document[]" id="multiFiles" style="flex:4" multiple />
                            </div>
                        </div>
                    </div>
                    <div class="thumbnail">
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 style="color:brown">Current Education</h4>
                            </div>
                        </div>
                        <div class="well well-sm">
                            <div class="flexContainer">
                                <input type="hidden" name="CurrentEducation[CurrentEducationId]" />
                                <label style="flex:1.3">Select Faculty :&nbsp;</label>
                                <select class="form-control faculty" name="CurrentEducation[Faculty]" style="flex:2" id="selectFaculty"></select>&nbsp;&nbsp;&nbsp;&nbsp;
                                <label style="flex:1.3">Select Batch :&nbsp;</label>
                                <select class="form-control batch" name="CurrentEducation[Batch]" style="flex:2" id="selectBatch"></select>&nbsp;&nbsp;&nbsp;&nbsp;

                            </div><br />
                            <div class="flexContainer">
                                <label style="flex:1.3">Select Class :&nbsp;</label>
                                <select class="form-control class" name="CurrentEducation[Class]" style="flex:2" id="selectClass"></select>&nbsp;&nbsp;&nbsp;&nbsp;
                                <label style="flex:1.3;">Select Section :&nbsp;</label>
                                <select class="form-control section" name="CurrentEducation[Section]" style="flex:2" id="selectSection"></select>&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="thumbnail">
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 style="color:brown">Current Address</h4>
                            </div>
                        </div>
                        <div class="well well-sm">
                            <div class="flexContainer">
                                <input type="hidden" name="CurrentAddress[AddressId]" />
                                <label style="width:100px;">House No :&nbsp;</label>
                                <input type="text" class="form-control" name="CurrentAddress[Qno]" style="width:140px;" />&nbsp;&nbsp;&nbsp;&nbsp;
                                <label style="width:70px;">Street :&nbsp;</label>
                                <input type="text" class="form-control" name="CurrentAddress[Street]" style="width:160px;" />&nbsp;&nbsp;&nbsp;&nbsp;
                                <label style="width:100px;">Municipality:</label>
                                <input type="text" class="form-control" name="CurrentAddress[Municipality]" style="width:180px;" />

                            </div><br />
                            <div class="flexContainer">
                                <label style="flex:1">Country :&nbsp;</label>
                                <select class="form-control country" name="CurrentAddress[Country]" style="flex:2" id="selectCountry"></select>&nbsp;&nbsp;&nbsp;&nbsp;
                                <label style="flex:1">State :&nbsp;</label>
                                <select class="form-control state" name="CurrentAddress[State]" style="flex:2" id="selectCurrentState"></select>&nbsp;&nbsp;&nbsp;&nbsp;

                            </div>
                        </div>
                    </div>
                    <div class="form-inline" style="color:green;"><input type='checkbox' class='checkbox' id="sameAddress" value='true' />&nbsp;&nbsp;Permanent address same as Current address</div><br/>

                    <div class="thumbnail">
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 style="color:brown">Permanent Address</h4>
                            </div>
                        </div>
                        <div class="well well-sm">
                            <div class="flexContainer">
                                <input type="hidden" name="PermanentAddress[AddressId]" />
                                <label style="width:100px;">House No :&nbsp;</label>
                                <input type="text" class="form-control" name="PermanentAddress[Qno]" style="width:140px;" />&nbsp;&nbsp;&nbsp;&nbsp;
                                <label style="width:70px;">Street :&nbsp;</label>
                                <input type="text" class="form-control" name="PermanentAddress[Street]" style="width:160px;" />&nbsp;&nbsp;&nbsp;&nbsp;
                                <label style="width:100px;">Municipality:</label>
                                <input type="text" class="form-control" name="PermanentAddress[Municipality]" style="width:180px;" />

                            </div><br />
                            <div class="flexContainer">
                                <label style="flex:1">Country :&nbsp;</label>
                                <select class="form-control country" name="PermanentAddress[Country]" style="flex:2" id="selectCountry"></select>&nbsp;&nbsp;&nbsp;&nbsp;
                                <label style="flex:1">State :&nbsp;</label>
                                <select class="form-control state" name="PermanentAddress[State]" style="flex:2" id="selectPermanentState"></select>&nbsp;&nbsp;&nbsp;&nbsp;

                            </div>
                        </div>
                    </div>
                    <div class="thumbnail">
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 style="color:brown">Emergency Contact</h4>
                            </div>
                        </div>
                        <div class="well well-sm">
                            <div class="flexContainer">
                                <input type="hidden" name="EmergencyDetails[EmergencyContactId]" />
                                <label style="flex:1.3">Parents :&nbsp;</label>
                                <input type="text" class="form-control" name="EmergencyDetails[ParentName]" style="flex:2" />&nbsp;&nbsp;&nbsp;&nbsp;
                                <label style="flex:1.3">Contact No :&nbsp;</label>
                                <input type="text" class="form-control number" name="EmergencyDetails[ContactNumber]" style="flex:2" onkeypress="return isNumberKey(event)" />&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="flexContainer">
                                <label style="flex:1.3"></label>
                                <label style="flex:2"></label>
                                <label style="flex:1.3"></label>
                                <span style="flex:2">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <label class="message" style="color: red;"></label>
                                </span>
                            </div>
                            <div class="flexContainer">
                                <label style="width:141px;">Location :&nbsp;</label>
                                <input type="text" class="form-control" name="EmergencyDetails[Location]" style="width:243px;" />&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="thumbnail">
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 style="color:brown">Scholarship</h4>
                            </div>
                        </div>
                        <div class="well well-sm">
                            <div class="flexContainer">
                                <input type="hidden" name="Scholarship[StudentScholarshipId]" />
                                <label style="flex:1">Scholarship :&nbsp;</label>
                                <select class="form-control" name="Scholarship[ScholarshipName]" style="flex:2" id="selectScholarshipName"></select>&nbsp;&nbsp;&nbsp;&nbsp;
                                <label style="flex:1.3">    Provide Details :&nbsp;</label>
                                <textarea name="Scholarship[Description]" class="form-control input-sm/" style="flex:2" cols="100" rows="3"></textarea>&nbsp;&nbsp;&nbsp;&nbsp;
                            </div><br />
                            <div class="flexContainer">

                                <label>Admission Date :&nbsp;</label>
                                <input type="text" id="admissiondate" style="width:243px;" placeholder="साल-महिना-गते" class="form-control nepali-calendar" name="Scholarship[DateOfAdmission]" />&nbsp;&nbsp;&nbsp;&nbsp;
                                @*<input type="date" class="form-control" name="Scholarship[DateOfAdmission]" style="width:220px;" id="selectFaculty" />&nbsp;&nbsp;&nbsp;&nbsp;*@
                            </div>
                        </div>
                    </div>
                    <div class="thumbnail">
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 style="color:brown">Student Status</h4>
                            </div>
                        </div>
                        <div class="well well-sm">
                            <div class="flexContainer">
                                <label style="flex:1.3">Status :&nbsp;</label>
                                <select class="form-control" name="Status" style="flex:2" id="">
                                    <option value="Active">Active</option>
                                    <option value="NotActive">Not-Active</option>
                                </select>&nbsp;&nbsp;&nbsp;&nbsp;
                                <label style="flex:1.3">Student Type :&nbsp;</label>
                                <select class="form-control" name="StudentType" style="flex:2" id="selectStudentType"></select>&nbsp;&nbsp;&nbsp;&nbsp;

                            </div>
                        </div>
                        </div>
                        <br />
</form>
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <input type="submit" value="Submit" class="btn btn-warning" id="btnsubmit" />
                        <input type="button" class="btn btn-danger" id="btnCancel" onclick="cancel()" value="Cancel" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="modalInfo"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close redirect" data-dismiss="modal"> &times; </button>
                <h4 class="modal-title" id="modal-title">Info</h4>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger redirect" id="close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="modalDelete"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"> &times; </button>
                <h4 class="modal-title" id="modal-title">Info</h4>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning modalclose" id="btnDeleteModal" style="width:100px">Yes</button>
                <button type="button" class="btn btn-danger" id="close" data-dismiss="modal" style="width:100px">No</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="modalCancel"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"> &times; </button>
                <h4 class="modal-title" id="modal-title1">Info</h4>
            </div>
            <div class="modal-body" id="modal-body1">
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning modalclose" id="btnCancelModal" style="width:100px">Yes</button>
                <button type="button" class="btn btn-danger" id="close" data-dismiss="modal" style="width:100px">No</button>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        debugger;
        getAllCountry();
        getClassBatchFaculty();
        getScholarandStudentType();
        $('.nepali-calendar').nepaliDatePicker();
        if (@ViewBag.StudentId == true) {
                $('#btnsubmit').val("Update");
            }
        if ('@ViewBag.StudentNo' != '') {
            debugger;
            $("#btnRemoveRow").hide();
            loadStudentDetails('@ViewBag.StudentNo');
             
        }
    })
    var getScholarandStudentType = function () {
        $.ajax({
            url: "/api/GetScholarshipAndStudentType",
            method: "GET",
             data:{
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                var scholarship = result[0];
                var studenttype = result[1];
                if (scholarship != undefined) {
                    debugger;
                    var v = "<option value=''>--Select--</option>";
                    for (var i in scholarship) {
                        v += "<option value=" + scholarship[i]['ScholarshipName'] + ">" + scholarship[i]['ScholarshipName'] + "</option>";
                    }
                    $("#selectScholarshipName").html(v);
                }

                if (studenttype != undefined) {
                    var v = "";
                    for (var i in studenttype) {
                        v += "<option value=" + studenttype[i]['StudentTypeName'] + ">" + studenttype[i]['StudentTypeName'] + "</option>";
                    }
                    $("#selectStudentType").html(v);
                }
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }

    var getClassBatchFaculty = function () {
        $.ajax({
            url: "/api/GetClassBatchFaculty",
            method: "GET",
             data:{
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                var classDetails = result[0];
                var batchDetails = result[1];
                var facultyDetails = result[2];
                var sectionDetails = result[3];
                if (classDetails != undefined) {
                    debugger;
                    var v = "<option value=''>--Select--</option>";
                    for (var i in classDetails) {
                        v += "<option value=" + classDetails[i]['ClassName'] + ">" + classDetails[i]['ClassName'] + "</option>";
                    }
                    $(".class").html(v);
                    $("#searchClass").html(v);
                }
                if (batchDetails != undefined) {
                    var v = "<option value=''>--Select--</option>";
                    for (var i in batchDetails) {
                        v += "<option value='" + batchDetails[i]['FromYear'] + "-" + batchDetails[i]['ToYear'] + "'>" + batchDetails[i]['FromYear'] + " - " + batchDetails[i]['ToYear'] + "</option>";
                    }
                    $(".batch").html(v);
                    $("#searchBatch").html(v);
                }
                if (facultyDetails != undefined) {
                    var v = "<option value=''>--Select--</option>";
                    for (var i in facultyDetails) {
                        v += "<option value=" + facultyDetails[i]['FacultyName'] + ">" + facultyDetails[i]['FacultyName'] + "</option>";
                    }
                    $(".faculty").html(v);
                }
                if (sectionDetails != undefined) {
                    var v = "<option value=''>--Select--</option>";
                    for (var i in sectionDetails) {
                        v += "<option value=" + sectionDetails[i]['SectionName'] + ">" + sectionDetails[i]['SectionName'] + "</option>";
                    }
                    $(".section").html(v);
                    $("#searchSection").html(v);
                }
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }

    var getAllCountry = function () {
        $.ajax({
            url: "/api/GetAllCountryList",
            method: "GET",
             data:{
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                debugger;
                if (result != undefined) {
                    debugger;
                    var v = "<option>--Select--</option>";
                    for (var i in result) {
                        v += "<option value =" + result[i]['CountryName'] + ">" + result[i]['CountryName'] + "</option>";
                    }
                    $(".country").html(v);
                }

            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }

    $(".country").on('change', function () {
        debugger;
        var _this = $(this);
        var id = _this.val();
        var target = _this.siblings(".state");
        $.ajax({
            url: "/api/GetStates/",
            method: "GET",
            dataType: "json",
            data: {
                CountryName: _this.val(),
                CompanyId:@Session["CompanyId"],
            },
            success: function (result) {
                debugger;
                var v = "<option>--Select--</option>";
                for (var d in result) {
                    v += "<option value=" + result[d]['StateName'] + ">" + result[d]['StateName'] + "</option>";
                }
                target.html(v);
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
        debugger;
    })

    $("#btnsubmit").on('click', function (e) {
        e.preventDefault();
        SaveData();
    })

    function SaveData() {
        debugger;
        var fd = $("form").serializeJSON();
        fd.CompanyId = '@Session["CompanyId"]';
        debugger;
        if (fd.CurrentEducation.Class == '' || fd.CurrentEducation.Section == '' || fd.Scholarship.Batch == '') {
            alert("Please provide Class,Section,Batch");
            return;
        }
        debugger;
        var email = fd.EmailId;
        if (fd.FirstName == '') {
            alert("Please provide First Name");
            return;
        }
        if (fd.Gender == '') {
            alert("Please select your gender");
            return;
        }
        var filter = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

        //if (!filter.test(email)) {
        //    alert("Please enter Valid Email");
        //    return;
        //}
        debugger;
      
        debugger;
        $.ajax({
            url: '/api/PostStudentDetails',
            type: 'POST',
            dataType: "json",
            data:fd,
               
            success: function (data) {
                debugger;
                SaveDocument(data);

                $('#modalInfo').modal('show');
                $('#modalInfo .modal-title').html("Success");
                $('#modalInfo .modal-body').html(" Successful.");
                $(".redirect").on('click', function () {
                    debugger;
                    $('#modalInfo').modal('hide');
                    $("form").find("input[type=text],input[type=file],textarea,select").val("");
                    $("#pasteducation").empty();
                    $("#docList").empty();
                    location.href = "/Home/StudentManagement";

                })
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }

    function SaveDocument(id) {
        debugger;
        var data = new FormData();
        var ins = $('#multiFiles')[0].files.length;
        debugger;
        for (var x = 0; x < ins; x++) {
            data.append("Document[]", $('#multiFiles')[0].files[x]);
        }
        debugger;
        if (!id) id = $('input[name="StudentId"]').val();
        data.append('StudentId', id);
        data.append('CompanyId',@Session["CompanyId"]);
        data.append('Prefix', "doc");

        $.ajax({
            url: '/api/UploadDocuments',
            method: 'POST',
            contentType: false,
            processData: false,
            data: data,
            success: function (response) {

            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        });
    }

    $("#btnRemoveRow").on('click', function () {
        debugger;
        var row = $("#btnAddRow").data("rows");
        if (row == 1) return;
        if (row == 2) {
            $("#btnRemoveRow").hide();
        }
        $("#pasteducation").children("div[id=degreedetails]:last").remove();
        $("#btnAddRow").data("rows", row - 1);
    })

    $("#btnAddRow").on('click', function () {
        debugger;
        $("#btnRemoveRow").show();
        addRow();
    });


    function addRow() {
        var row = $("#btnAddRow").data("rows");
        $("#btnAddRow").data("rows", row + 1);
        var html = `<div id="degreedetails" class="well well-sm"><div class="flexContainer">
                             <input type="hidden" name="PastEducation[${row}][PastEducationId]" />
                            <label style="flex:1.2">Degree :&nbsp;</label>
                            <input type="text" class="form-control" name="PastEducation[${row}][Degree]" style="flex:2" id="" required />&nbsp;&nbsp;&nbsp;&nbsp;
                            <label style="flex:1.2">School.:&nbsp;&nbsp;</label>
                            <input type="text" class="form-control" name="PastEducation[${row}][School]" style="flex:2" required />&nbsp;&nbsp;&nbsp;&nbsp;
                        </div><br />
                        <div class="flexContainer">
                            <label style="flex:1.2">Total Marks :&nbsp;</label>
                            <input type="text" class="form-control" name="PastEducation[${row}][TotalMarks]" style="flex:2" onkeypress="return isNumberKey(event)" />&nbsp;&nbsp;&nbsp;&nbsp;
                            <label style="flex:1.2">Division.:&nbsp;&nbsp;</label>
                            <input type="text" class="form-control" name="PastEducation[${row}][Division]" style="flex:2" required />&nbsp;&nbsp;&nbsp;&nbsp;
                        </div><br /></div>`;

        $("#pasteducation").append(html);

    };

    var cancel = function () {
        debugger;
        var cancel = $("#btnCancel").val();
        if (cancel == "Back") {
            location.href = "/Home/StudentManagement";
        }
        else {
            $('#modalCancel').modal('show');
            $('#modal-title1').html("Confirm");
            $('#modal-body1').html("Are You Sure You Want to Cancel ?");
        }
        }

    $("#btnCancelModal").on('click', function () {
        debugger;
        $('#modalCancel').modal('hide');
        location.href = "/Home/StudentManagement";
    });

    $("#email").keyup(function () {

        var email = $("#email").val();
        var filter = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

        if (!filter.test(email)) {
            //alert('Please provide a valid email address');
            $("#error_email").text("Please enter valid email");

            email.focus;
            //return false;
        } else {
            $("#error_email").text("");

        }

    });

    $(".number").on('keyup', function () {
        debugger;
        var _this = $(this);
        var number = _this.val();
        var target = _this.parent().next('div').find('.message');
        if (number.length != 10) {
            target.text("required 10 digits number");
            number.focus;
        }
        else {
            target.text("");

        }
    });

    $("#mothernum").on('keyup', function () {
        var num = $("#mothernum").val();
        if (num.length != 10) {
            $("#numerror").text("required 10 digits number");
            num.focus;
        }
        else {
            $("#numerror").text("");

        }
    })


    var loadStudentDocument = function (id) {
        debugger;
        var edit= '@ViewBag.value';
        $.ajax({
            url: "/api/GetStudentDocument/" + id,
            method: "GET",
            dataType: "json",
            success: function (result) {
                debugger;
                var id = result[0];
                debugger;
                if (result != null) {
                    if (edit == "edit") {
                        var html = "";
                        for (var d in result) {
                            html += `<div class="well well-sm docItem" style="margin-bottom:0px">
                             <span style="color:darkgoldenrod">${result[d]}</span>
                             <button class="close" data-filename="${result[d]}" title="delete">&times;</button>
                             </div>`;

                        }
                        $("#docList").append(html);
                    }
                    else {

                        var html = "";
                        for (var d in result) {
                            html += `<div class="well well-sm docItem" style="margin-bottom:0px">
                             <span style="color:darkgoldenrod">${result[d]}</span>
                             <button class="close" data-filename="${result[d]}" title="delete" disabled>&times;</button>
                             </div>`;

                        }
                        $("#docList").append(html);
                    }
                }
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }

    $('#docList').on('click', '.close', function (e) {
        debugger;
        e.preventDefault();
        var _this = $(this);
        var filename = _this.data("filename");
        $('#modalDelete').modal('show');
        $('#modalDelete .modal-title').html("Confirm");
        $('#modalDelete .modal-body').html("Are You Sure You want to delete document: <br /><b>" + filename + "</b>");

        $('#btnDeleteModal').data('filename', filename);
        $('#btnDeleteModal').data('_this', _this);
    })

    $("#btnDeleteModal").on('click', function (e) {
        debugger;
        e.preventDefault();
        var _this = $(this).data("_this");
        var filename = $(this).data("filename");
        debugger;
        $.ajax({
            url: '/api/DeleteDocument',
            method: 'POST',
            dataType: "json",
            data: { "filename": filename },
            success: function (response) {
                debugger;
                $('#modalDelete').modal('hide');
                _this.parent(".docItem").remove();

            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        });
    });

    var loadStudentDetails = function (id) {
        debugger;
         var edit= '@ViewBag.value';
        $.ajax({
            url: "/api/GetStudentInfo",
            method: "GET",
            data: {
                StudentId: id,
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                if (result != null) {
                    var studentInfo = result[0][0];
                    var pastEducation = result[1];
                    var currentEducation = result[2][0];
                    var currentAddress = result[3][0];
                    var permanentAddres = result[4][0];
                    var emergencyContact = result[5][0];
                    var scholarship = result[6][0];
                    var count = pastEducation.length;
                    debugger;
                    if (studentInfo != undefined) {
                        for (var d in studentInfo) {
                            $('[name="' + d + '"]').val(studentInfo[d]);
                        }
                    }
                    while (count > 1) {
                        $("#btnRemoveRow").show();
                        addRow();
                        count--;
                    }
                    if (pastEducation != undefined) {
                        for (var i in pastEducation) {
                            for (var d in pastEducation[i]) {

                                $("[name='PastEducation[" + i + "][" + d + "]']").val(pastEducation[i][d]);
                            }
                        }
                    }
                    if (currentEducation != undefined) {
                        for (var d in currentEducation) {
                            $('[name="CurrentEducation[' + d + ']"]').val(currentEducation[d]);
                        }
                    }
                    if (currentAddress != undefined) {
                        debugger;
                        for (var d in currentAddress) {
                            if (d == "State") {
                                $('[name="CurrentAddress[' + d + ']"]').html("<option>" + currentAddress[d] + "</option>");
                                $('[name="CurrentAddress[' + d + ']"]').val(currentAddress[d]);
                            }
                            else {
                                $('[name="CurrentAddress[' + d + ']"]').val(currentAddress[d]);
                            }


                        }
                    }
                    if (permanentAddres != undefined) {
                        for (var d in permanentAddres) {
                            if (d == "State") {
                                $('[name="PermanentAddress[' + d + ']"]').html("<option>" + permanentAddres[d] + "</option>");
                                $('[name="PermanentAddress[' + d + ']"]').val(permanentAddres[d]);
                            }
                            else {
                                $('[name="PermanentAddress[' + d + ']"]').val(permanentAddres[d]);
                            }


                        }
                    }

                    if (emergencyContact != undefined) {
                        for (var d in emergencyContact) {
                            $('[name="EmergencyDetails[' + d + ']"]').val(emergencyContact[d]);
                        }
                    }

                    if (scholarship != undefined) {
                        for (var d in scholarship) {
                            $('[name="Scholarship[' + d + ']"]').val(scholarship[d]);
                        }
                    }
                    debugger;
                    if (edit == "edit") {
                        $("#titleStudentForm").html("Edit Information of <b>" + studentInfo['FirstName'] + " " + studentInfo['LastName'] + "</b>");
                    }
                    else{
                        $("#titleStudentForm").html("Information of <b>" + studentInfo['FirstName'] + " " + studentInfo['LastName'] + "</b>");
                        $('#formStudentInfo input').attr('disabled', true);
                        $('#formStudentInfo textarea').attr('disabled', true);
                        $('#formStudentInfo select').attr('disabled', true);
                        $('#btnCancel').val("Back");
                        $("#btnsubmit").hide();
                        $("#btnAddRow").hide();
                        $("#btnRemoveRow").hide();
                        $("#divStudentFiles").hide();
                    }
                    loadStudentDocument('@ViewBag.StudentNo');
                }
                debugger;
               

            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }

        })
    }

    $(".checkbox").change(function () {
       
        debugger;
        if (this.checked) {
            $('[name="PermanentAddress[Qno]"]').val($('[name ="CurrentAddress[Qno]"]').val());
            $('[name="PermanentAddress[Street]"]').val($('[name ="CurrentAddress[Street]"]').val());
            $('[name="PermanentAddress[Municipality]"]').val($('[name ="CurrentAddress[Municipality]"]').val());
            $('[name="PermanentAddress[Country]"]').val($('[name ="CurrentAddress[Country]"]').val());
            $('[name="PermanentAddress[State]"]').html("<option value=" + $('[name ="CurrentAddress[State]"]').val() + ">" + $('[name ="CurrentAddress[State]"]').val() + "</option>").val();
        }
        else {
            $('[name="PermanentAddress[Qno]"]').val('');
            $('[name="PermanentAddress[Street]"]').val('');
            $('[name="PermanentAddress[Municipality]"]').val('');
            $('[name="PermanentAddress[Country]"]').val('');
            $('[name="PermanentAddress[State]"]').val('');
            debugger;
        }
    });

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>
