
@{
    List<string> features = ViewBag.UserFeatures as List<string>;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EB School Billing Management System</title>
    @Styles.Render("~/Content/css")
    @*<link rel="stylesheet" href=@("https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css")>*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Scripts/coreui.min.css" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Content/DataTable/datatables.min.js"></script>
    <link href="~/Content/DataTable/datatables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
</head>
<body class="app header-fixed sidebar-show sidebar-fixed">
    <header class="app-header navbar">
        <!-- Header content here -->
        <div style="display:flex;flex-direction:row">
            <button class="navbar-toggler sidebar-toggler"
                    type="button"
                    data-toggle="sidebar-show"
                    title="options">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h4 class="pt-1">EB School Billing Management System <span class="text-muted">|</span><small> @Session["company"]</small></h4>
        </div>
        <ul class="nav navbar-nav ml-auto mr-2">
            <li>Welcome Admin</li>
            <li class="nav-item dropdown">
                <a class="nav-link nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    @*<img class="img-avatar" src="img/avatars/6.jpg" alt="admin@bootstrapmaster.com">*@
                    <i class="fa fa-user-circle-o" style="font-size:xx-large"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header text-center">
                        <strong>Account</strong>
                    </div>

                    <a class="dropdown-item" href="#">
                        <i class="fa fa-user"></i> Profile
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-wrench"></i> Settings
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-usd"></i> Payments
                        <span class="badge badge-warning">42</span>
                    </a>
                    @*<div class="dropdown-divider"></div>*@
                    @*<a class="dropdown-item" href="/Home/Login">
                            <i class="fa fa-lock"></i> Logout
                        </a>*@
                </div>
            </li>

        </ul>

    </header>
    <div class="app-body">
        <div class="sidebar" style="background-color:#111">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-title">SETTINGS</li>

                    @*<li class="nav-item">
                            <a class="nav-link" href="/Settings/Employee">
                                <i class="nav-icon fa fa-users"></i> Employee
                            </a>
                        </li>*@
                    <li class="nav-item nav-dropdown open">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon fa fa-list-alt"></i> Access Layer
                        </a>
                        <ul class="nav-dropdown-items">
                        
                            @if (features.Contains("Group"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="/Settings/Group">
                                        <i class="nav-icon fa fa-list-alt"></i> Group
                                    </a>
                                </li>
                            }
                               
                                @if (features.Contains("Feature"))
            {               
                                <li class="nav-item">
                                    <a class="nav-link" href="/Settings/Feature">
                                        <i class="nav-icon fa fa-list-alt"></i> Feature
                                    </a>
                                </li>
                                }
                                @if (features.Contains("Action"))
            {
                                <li class="nav-item">
                                    <a class="nav-link" href="/Settings/FeatureAction">
                                        <i class="nav-icon fa fa-list-alt"></i> Action
                                    </a>
                                </li>
                                }
                               @if (features.Contains("UserAccess"))
            {
                                <li class="nav-item">
                                    <a class="nav-link" href="/Settings/UserAccess">
                                        <i class="nav-icon fa fa-list-alt"></i> User Access
                                    </a>
                                </li>
                                }
                            </ul>
                    </li>
                
                    <li class="nav-item mt-auto">
                        <a class="nav-link nav-link-primary" href="/">
                            <i class="nav-icon fa fa-home"></i> Back to Home
                        </a>
                    </li>
                </ul>
            </nav>
            <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        </div>
        <main class="main">
            <div class="container mt-3">
                @RenderBody()
            </div>
        </main>
    </div>
    <footer class="app-footer">
        <span>© @DateTime.Now.Year EB Pearls Pty Ltd</span>
    </footer>

    @RenderSection("scripts", required: false)


    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/coreui.min.js"></script>

    <script src="~/Scripts/jquery.serializejson.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    @*<!-- Optional JavaScript -->
        <!-- add jQuery first (at <head> section), then Popper.js, Bootstrap, then CoreUI  -->
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src=@("https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js")></script>*@
</body>

</html>
