@{
    List<string> features = ViewBag.UserFeatures as List<string>;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EB Payroll Management System</title>
    @Styles.Render("~/Content/css")
    @*<link rel="stylesheet" href=@("https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css")>*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Scripts/coreui.min.css" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <script src="~/Content/DataTable/datatables.min.js"></script>
    <link href="~/Content/DataTable/datatables.min.css" rel="stylesheet" />
    <script src="~/Content/DataTable/dataTables.buttons.min.js"></script>
    <script src="~/Content/DataTable/buttons.flash.min.js"></script>
    <script src="~/Content/DataTable/jsZip.min.js"></script>
    <script src="~/Content/DataTable/buttons.html5.min.js"></script>
    <script src="~/Content/DataTable/pdfmake.min.js"></script>
    <script src="~/Content/DataTable/vfs_fonts.js"></script>
    <script src="~/Content/DataTable/buttons.print.min.js"></script>
    @*<link href="~/Content/DataTable/DataTables-1.10.18/css/dataTables.bootstrap.min.css" rel="stylesheet" />*@
    @*<link href="~/Content/DataTable/dataTables.bootstrap.min.css" rel="stylesheet" />*@
    <style>
        .sidebar .nav-link.active {
            color: #fff;
            background: #5a3787;
        }

        .sidebar .nav-link:hover {
            color: #fff;
            background: #5a3787;
        }
    </style>
</head>
<body class="app header-fixed sidebar-show sidebar-fixed">
    <header class="app-header navbar">
        <!-- Header content here -->
        <div style="display:flex;flex-direction:row">
            <button class="navbar-toggler sidebar-toggler"
                    type="button"
                    data-toggle="sidebar-show"
                    title="options">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h4 class="pt-1 header-text">EB School Management System <small class="text-muted">| @Session["company"]</small></h4>
        </div>
        <ul class="nav navbar-nav ml-auto mr-2">
            <li class="mr-2">Homepage</li>
            <li class="mr-3">
                <a href="/Home/Logout" title="Go Back to Homepage">
                    <i class="fa fa-home fa-2x"></i>

                </a>
            </li>

        </ul>

    </header>
    <div class="app-body">
        <div class="sidebar" style="background-color:#3f2462">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="nav-icon fa fa-dashboard"></i> Dashboard
                        </a>
                    </li>

                   

                        <li class="nav-item">
                            <a class="nav-link" href="/Home/GeneralSettings">
                                <i class="nav-icon fa fa-users"></i> General Settings
                            </a>
                        </li>
                   
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/StudentManagement">
                                <i class="nav-icon fa fa-money"></i> Student Management
                                @*<i class="fa fa-circle text-warning pull-right"></i>*@
                            </a>
                        </li>
                  
                    <li class="nav-item nav-dropdown open">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon fa fa-calendar-times-o"></i> Leave Management
                        </a>
                        <ul class="nav-dropdown-items">
                           
                                <li class="nav-item">
                                    <a class="nav-link" href="/Home/Leave">
                                        <i class="nav-icon fa fa-calendar-times-o"></i> Leave Entry
                                    </a>
                                </li>
                           
                                <li class="nav-item">
                                    <a class="nav-link" href="/Home/LeaveReport">
                                        <i class="nav-icon fa fa-calendar-times-o"></i> Balance Report
                                    </a>
                                </li>
                           
                                <li class="nav-item">
                                    <a class="nav-link" href="/Home/LeaveForward">
                                        <i class="nav-icon fa fa-calendar-times-o"></i> Leave Forward
                                        <span class="badge badge-info">New-@Session["forwardcount"]</span>
                                    </a>
                                </li>
                           
                                <li class="nav-item">
                                    <a class="nav-link" href="/Home/LeaveApproval">
                                        <i class="nav-icon fa fa-calendar-times-o"></i> Leave Approval
                                        <span class="badge badge-primary">New-@Session["approvalcount"]</span>
                                    </a>
                                </li>
                            
                        </ul>
                    </li>
                  
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/OverTime">
                                <i class="nav-icon fa fa-plus"></i> Overtime
                                @*<i class="fa fa-circle text-warning pull-right"></i>*@
                            </a>
                        </li>
                   
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Holiday">
                                <i class="nav-icon fa fa-flag"></i> Holiday
                            </a>
                        </li>
                    

                    <li class="nav-item nav-dropdown open">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon fa fa-money"></i> Payroll
                        </a>
                        <ul class="nav-dropdown-items">
                           
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <i class="nav-icon fa fa-list-alt"></i> Salary sheet
                                    </a>
                                </li>
                           
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <i class="nav-icon fa fa-money"></i> Payroll
                                    </a>
                                </li>
                            
                        </ul>
                    </li>
                    @*@if (features.Contains("Settings"))

                        {*@

                    <li class="nav-item mt-auto">
                        <a class="nav-link nav-link-primary" href="/Settings">
                            <i class="nav-icon fa fa-cog"></i> Settings
                        </a>
                    </li>
                    @*}*@
                </ul>
            </nav>
            <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        </div>
        <main class="main">
            <div class="container mt-3">
                @RenderBody()
            </div>
        </main>
    </div>
    <footer class="app-footer">
        <span>© @DateTime.Now.Year EB Pearls Pty Ltd</span>
    </footer>

    @RenderSection("scripts", required: false)


    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/coreui.min.js"></script>

    <script src="~/Scripts/jquery.serializejson.min.js"></script>

    @*<!-- Optional JavaScript -->
        <!-- add jQuery first (at <head> section), then Popper.js, Bootstrap, then CoreUI  -->
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src=@("https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js")></script>*@
</body>

</html>
<script type="text/javascript">

    var convertMonth = function (month) {

        switch (month) {
            case "01": return "Baisakh";
            case "02": return "Jesth";
            case "03": return "Asar";
            case "04": return "Sawan";
            case "05": return "Bhadau";
            case "06": return "Aaswin";
            case "07": return "Kartik";
            case "08": return "Mangsir";
            case "09": return "Push";
            case "10": return "Magh";
            case "11": return "Falgun";
            case "12": return "Chait";
        };
    }

    var convertMonthInt = function (month) {
        switch (month) {
            case "Baisakh": return "01";
            case "Jesth": return "02";
            case "Asar": return "03";
            case "Sawan": return "04";
            case "Bhadau": return "05";
            case "Aaswin": return "06";
            case "Kartik": return "07";
            case "Mangsir": return "08";
            case "Push": return "09";
            case "Magh": return "10";
            case "Falgun": return "11";
            case "Chait": return "12";
        };
    }
</script>